# Entornos virtuales
venv/
env/
.env

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de Jupyter
.ipynb_checkpoints

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Modelos pesados (Evita subir archivos enormes a GitHub)
data/model_best.pkl